
{% extends 'detection/base.html' %}


{%block content%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'detection/css/email.css' %}">
    <title>Email Scanner</title>

    
</head>

<body>
<div class="container table-wrapper">

    <h1>Email Scanner</h1>

    <button id="scanBtn" class="scan-btn" onclick="scanEmails()" >Scan Emails</button>

    <table id="emailTable" class="details-table" >
        <thead>
            <tr>
                <th>Subject</th>
                <th>From</th>
                <th>URLs Found</th>
                <th>Phishing Status</th>
            </tr>
        </thead>
        <tbody id="emailRows">
            <!-- Populated dynamically -->
        </tbody>
    </table>

</div>

<script src="{% static 'detection/js/email_scan.js' %}"></script>





</body>
</html>

{% endblock %}