{% extends 'detection/base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card card-3d shadow-lg p-5 text-center">
      <h2 class="mb-4 animate__animated animate__fadeInDown">Check Your URL Safety</h2>

     <form method="GET" action="{% url 'result' %}">
    {% csrf_token %}
    <div class="input-group mb-3 animate__animated animate__fadeInUp">
        <input type="text" name="url" id="urlInput" class="form-control form-control-lg" placeholder="Enter URL..." required>
        <button type="submit" class="btn btn-primary btn-lg">
            <i class="fas fa-search"></i> Check
        </button>
    </div>
    </form>

      <div id="resultBox" class="result mt-4 p-3 rounded shadow-lg" style="display:none;"></div>
    </div>
  </div> 
</div>
{% endblock %} 




